<div class="mdl-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">

    <nav class="mdl-layout__header-row alo-nav alo-first-nav">
      <div class="alo-logo"></div>
      <!-- My Custom Tabs -->
      <div class="alo-nav-tabs">
        <a href="#" class="alo-tab alo-tab__active">Mis cursos</a>
        <a href="#" class="alo-tab">Explorar</a>
      </div>
      <div class="alo-common-links"></div>
    </nav>

    <nav class="mdl-layout__header-row alo-nav alo-second-nav">
      <!-- My Custom Second Tabs here -->
      <div class="alo-nav-tabs">
        <a href="#" class="alo-tab alo-tab__active">Activos</a>
        <a href="#" class="alo-tab">En mi plan</a>
        <a href="#" class="alo-tab">Aprobados</a>
      </div>
      <div class="alo-common-links"></div>
    </nav>

  </header>

  <main class="mdl-layout__content">
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  </main>
</div>